<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maitaidan.dao.SysConfigMapper">
    <select id="getConfig" parameterType="string" resultType="string">
        SELECT sys_value FROM sysconfig WHERE sys_key =#{key}
    </select>

    <insert id="updateConfig" parameterType="string">
        UPDATE sysconfig SET sys_config =#{value} where sys_key=#{key}
    </insert>
</mapper>